.weather_panel__form {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 20px;
  >form{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 90% 10%;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    width: 100%;
    >input {
      background-color:rgba(0, 0, 0, 0.28);
      padding-left: 15px;
      border: none;
      height: 40px;
      border-top-left-radius: 10px;
      border-end-start-radius: 10px;
      font-size: 18px;
      &:hover {
        transition: 0.3s;
        background-color:rgba(0, 0, 0, 0.50);
      }
    }
    >button {
      background-color:  rgba(0, 0, 0, 0.28);
      border-top-right-radius: 10px;
      border-end-end-radius: 10px;
      border: none;
      &:hover {
        transition: 0.3s;
        background-color:rgba(0, 0, 0, 0.50);
      }
    }
  }
}