.conteiner {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 20px;
  width: 800px;
  padding: 30px;
  margin-bottom: 200px;
}

.title {
  font-size: 25px;
  text-align: center;
}

.description {
  margin-top: 20px;
  font-size: 20px;
  >ul{
    padding: 20px;
  }
}